<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>登录 - {{ title }}</title>
    <link rel="stylesheet" href="/statics/css/utils.css">
    <link rel="stylesheet" href="/statics/css/login.css">
</head>
<body>
    <div id="app">
        <h1>{{ title }}</h1>
        <form action="/api/users/login" method="post" id="login-form">
            <label for="username">用户名:</label>
            <input type="text" id="username" name="username" v-model="username" required>
            <br>
            <label for="password">密码:</label>
            <input type="password" id="password" name="password" v-model="password" required>
        </form>
        <button onclick="login()">登录</button>
        <br>
        <br>
        <div class="button-container">
            <button class="notlogin register" type="button" onclick="register()">注册</button>
            <button class="notlogin reset-password" type="button">忘记密码</button>
        </div>
    </div>

    <script src="/statics/js/safe/crypto-js.min.js"></script>
    <script src="/statics/js/utils.js"></script>
    <script src="/statics/js/login.js"></script>
</body>
</html>
